html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

div {
	margin-top: 5px;
	width: 100%;
}

.content {
	background-color: #00DDFF;
	height: 100%;
	overflow: hidden;
}

.left {
	background-color: #CCCCCC;
	border: 1px solid #000022;
	float: left;
	height: 100%;
	width: 35%;
}

.menu {
	background-color: #DDDD00;
	border-radius: 10px;
	display: none;
	height: 60px;
}


.menu-icon {
	background-color: #FF0000;
	border-radius: 5px;
	float: right;
	height: 45px;
	margin-right: 5px;
	position: relative;
	width: 45px;
}

.picture {
	border: 1px solid #000000;
	border-radius: 10px;
	display: inline-block;
	height: 50px;
	margin-top: 5px;
	width: 20%;
}

.picture:first-child {
	margin-left: 20px; /*tu ustawiam 20px zeby odsunąć od brzegu pierwszy picture*/
}

